# Build and Object Folders
bin/
obj/
tools/Cake/
TestResult.xml

#User Specific Files
*.user
*.suo
*.pidb
*.userprefs

#Resource Caches
_ReSharper.*
*.sln.cache

#Editor backup files
*~

#NuGet
packages/

#tools
tools/Cake
tools/NUnit.ConsoleRunner.3.2.0